$basic_border: 3px solid black;

/* ===============================

=============================== */
.main {
  top: 0px;
  position: absolute;

  .circles {
    margin: 0;
    padding: 0;

    .circle {
      display: inline-block;
      top: 0px;
      position: relative;
      width: 40px;
      height: 40px;
      border: 1px solid;
      border-radius: 50%;
      cursor: pointer;
      list-style: none;
    }

    .offence {
      border-color: blue;
    }

    .defence {
      border-color: red;
    }

    .disc {
      border-color: rgb(241, 245, 28);
    }
  }

  .wrapper {
    background-color: rgb(191, 231, 207);
    width: 100 * 13px;
    height: 37 * 13px;
    // margin: 100px auto 0px auto;
    border: $basic_border;
    display: grid;
    grid-template-columns: 180px auto 180px;

    &__left {
      grid-column: 1/2;
      height: 100%;
      border-right: $basic_border;
    }

    &__right {
      grid-column: 3/4;
      height: 100%;
      border-left: $basic_border;
    }
  }
}

@for $i from 0 to 15 {
  .left-#{$i *50} {
    left: $i * 20px;
  }
}
